venv/
db.sqlite3
accounts/__pycache__/
accounts/migrations/__pycache__/
berea/__pycache__/
notes/__pycache__/
notes/migrations/__pycache__/
bible/__pycache__/
bible/migrations/__pycache__/
bible/management/__pycache__/
bible/management/commands/__pycache__/
bible/fixtures/__pycache__/
bible/fixtures/crossrefs/__pycache__/
bible/fixtures/kjv/__pycache__/
bible/fixtures/strongs/__pycache__/
bible/fixtures/tagnt/__pycache__/
bible/fixtures/tahot__pycache__/


